<!-- <div class="m-4"> -->
<!-- <h4 class="display-4">Contact</h4> -->
<div class="d-flex flex-row align-items-start justify-content-around">
  <div style="margin-top: 100px;margin-left:125px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d178947.44192356805!2d-73.581373!3d45.508996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd75187e12c47cf1c!2sMontreal%20Neurological%20Institute%20and%20Hospital!5e0!3m2!1sen!2sca!4v1588361299512!5m2!1sen!2sca" width="500" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>

  
  <div class="m-4" align="center">

    <div style='font-size: 20px;margin-left: 50px;margin-right: 125px;margin-top: 125px;'>
      If you are interested in joining the lab please get in touch!
    </div>
    <br>
    <br>
    <div style='font-size: 20px;margin-left: 50px;margin-right: 150px;'>
      Email: <a href="mailto:madeleine.sharp@mcgill.ca">madeleine.sharp@mcgill.ca</a>
    </div>
    <br>
    <br>
    <div style='font-size: 20px;margin-left: 50px;margin-right: 150px;'>
      Montreal Neurological Institute
    </div>
    <div style='font-size: 20px;margin-left: 50px;margin-right: 150px;'>
      Room 256
    </div>
    <div style='font-size: 20px;margin-left: 50px;margin-right: 150px;'>
      3801 Rue University
    </div>
    <div style='font-size: 20px;margin-left: 50px;margin-right: 150px;'>
      Montréal, Québec
    </div>
    <div style='font-size: 20px;margin-left: 50px;margin-right: 150px;'>
      H3A 2B4
    </div>
  </div>
</div>