<div class="container contact-container">
  <div class="map-container">
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254126.72048554916!2d-73.68585127906641!3d45.5020134773365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDMwJzMyLjMiTiA3M8KwMzQnNTMuMCJX!5e0!3m2!1sen!2sca!4v1594866855415!5m2!1sen!2sca" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>

  <div class="word-container" align="center">

    <div class="words">
      If you are interested in joining the lab please get in touch!
    </div>
    <br>
    <div class="words">
      Email: <a href="mailto:madeleine.sharp@mcgill.ca">madeleine.sharp@mcgill.ca</a>
    </div>
    <br>
    <div class="words">
      Montreal Neurological Institute
    </div>
    <div class="words">
      Room 256
    </div>
    <div class="words">
      3801 Rue University
    </div>
    <div class="words">
      Montréal, Québec
    </div>
    <div class="words">
      H3A 2B4
    </div>
  </div>
</div>