<div class="m-4">
  <h4 class="display-4">Contact</h4>
  <div class="d-flex flex-row align-items-start justify-content-around">
    <div class="p-4">
      <div style="font-size: 20px; margin-bottom: 10px;">Information</div>
      <p>
        Dr. Madeleine Sharp is a neurologist specializing in movements disorders. Her research focuses on understanding
        the cognitive mechanisms that underlie the cognitive dysfunction in patients with movement disorders. Movement
        disorders that affect the basal ganglia, such as Parkinson’s and Huntington’s disease, are increasingly
        recognized as impairing much more than movement. Cognitive and behavioral symptoms are very common in these
        patients but remain poorly understood and difficult to treat. Her lab’s research aims to relate what we know
        about the role of the basal ganglia in healthy cognition to patients’ common cognitive symptoms such as
        executive dysfunction, difficulty in multi-tasking and apathy. Examples of current projects include examining
        the role of the basal ganglia in orienting learning and memory towards motivationally significant goals, and
        examining the
        role of disturbed sleep in long-term memory in Parkinson’s patients. Her research combines behavioral
        experiments, pharmacological manipulations and neuroimaging in patients and healthy populations. Ultimately,
        the goal is to develop more precise models of cognitive dysfunction in patients, grounded in neurobiology, in
        order to develop and to reliably test novel behavioral and pharmacologic therapies.
      </p>

      <div style="font-weight: 300;">
        <span>Email : <a href="mailto:madeleine.sharp@mcgill.ca">madeleine.sharp@mcgill.ca</a></span><br>
        <span>Tel: 514-398-5174</span><br>
        <span>Website: <a href="https://sharp.lab.mcgill.ca/">https://sharp.lab.mcgill.ca/</a></span><br>
        <span>Recent Publications: <a href="https://scholar.google.ca/citations?user=7EIrGjwAAAAJ&hl=en&oi=ao">PubMed
            Google Scholar</a></span><br>
        <span>Academic Affiliations: Assistant Professor, Department of Neurology and Neurosurgery</span><br>
        <span>Research Groups: <a href="http://www.chairs-chaires.gc.ca/chairholders-titulaires/index-fra.aspx">Cognitive
            Neuroscience</a></span>
      </div>

    </div>
    <div class="p-4" style="margin-top: 45px;">
      <img src="../../../assets/img/sharp.jpg" alt="">
    </div>
  </div>
  <div class="p-4">
    <div style="font-size: 20px;">Positions Available</div>
    <br>
    <div>
      <span style="font-weight: 100;">Winter 2019</span>
      <br>
      <span>Research Assistant</span>
    </div>
    <br>
    <div>
      <span style="font-weight: 100;">Summer 2019</span>
      <br>
      <span>Research Assistant</span>
    </div>
    <br>
    <div>
      <span style="font-weight: 100;">Fall 2019</span>
      <br>
      <span>Research Assistant</span>
    </div>
  </div>
</div>