@import "../../../styles.scss";

.banner-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;

    .slogan{
        background: linear-gradient(to left, #74de39, #4ec2da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        padding: 1%;
        font-weight: 100;
        margin: 0 auto;
        font-weight: 500;

        @include md {
            font-size: 4rem;
        }
    }
    img{
        height: 150px;
    }
}



.display-4{
    font-size: 1.2rem;
    margin: 0 10%;
    text-align: center;

    @include md {
        font-size: 2rem;
    }
}