<div class="banner-container" >
  <div>
    <img src="../../../assets/img/lablogo.png" alt="Sharp Lab Logo">
  </div>
  <div class="slogan">
    <b>SHARP LAB</b>
  </div>

</div>
<div align="center" style="margin: 2%;">
  <h4 class="display-4">
    Our research aims to better understand the mechanisms underlying the <b>cognitive and behavioural symptoms of
    neurodegenerative disorders</b> in order to ultimately better detect and treat them.
  </h4>
  <br>
  <h4 class="display-4">
    For example, why do people with Parkinson’s disease develop executive dysfunction? Does it relate to aberrant reward
    processing? Why do people with Huntington’s disease develop apathy? How do sleep and stress impact cognition? Why
    are cognitive symptoms present in some individuals but not others?
  </h4>

</div>