<div class="banner d-flex flex-row align-items-center justify-content-between">
  <div class="slogan">
    Laboratory for
    <br>
    <strong>Cognition</strong>&nbsp;and&nbsp;<strong>Neurodegenration</strong>
    <br>
    at McGill University
  </div>
  <div>
    <img src="../../../assets/img/banner.png" alt="">
  </div>
</div>
<div class="m-4" align="center">
  <h4 class="display-4">
    How does neurodegenerative disease lead to cognitive and behavioral impairment ?
  </h4>
  <p class="m-4">
    Basal ganglia disorders like Parkinson's and Huntington's disease cause a range of cognitive and behavioural
    symptoms such as apathy, impulsivity, difficult ies with multi-tasking, and impaired working memory, to name a
    few. These are debilitating symptoms that we understand relatively poorly; as a result, we have little to offer
    in the way of targeted treatments. We do know, however, that the neurodegeneration in these disorders affects
    relatively well defined brain regions in particular the basal ganglia and dopamine producing neurons or their
    connections that play a key role in cognitive processes such as reward signalling, learning and consolidation.
    <br>
    <br>
    <span>
      The long-term goal of the lab is to use what we know about these brain regions to better understand symptoms like
      apathy and impaired multi-tasking emerge, and, ultimately, to treat these symptoms.
    </span>
    <br>
    <br>
    To address these questions, we
    combine behavioural testing, patient studies, pharmacological manipulations and
    imaging.
  </p>
</div>