.logo{
    height: 75px;
}

.header{
    padding: 10px;
    background-color:#006d58;
    border-bottom: solid thin #006d58;
    width: 100vw;

    a.link{
        color:white;
        padding: 10px;
        border-radius: 5px;
        text-transform: none;
        &:hover{
            text-decoration: none;
            background-color: rgb(187, 187, 187);
        }
        
    }
}