<div class="sticky-top header d-flex flex-row align-items-center justify-content-between">
  <div class="logo">
    <a [routerLink]="['/']"><img src="../../../assets/img/logo.jpg" height="100%" alt=""></a>
  </div>
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="m-2">
      <a class="link" [routerLink]="['/']">HOME</a>
    </div>
    <div class="m-2">
      <a class="link" [routerLink]="['/research']">RESEARCH</a>
    </div>
    <div class="m-2">
      <a class="link" [routerLink]="['/people']">PEOPLE</a>
    </div>
    <div class="m-2">
      <a class="link" [routerLink]="['/publications']">PUBLICATIONS</a>
    </div>
    <div class="m-2">
      <a class="link" [routerLink]="['/participate']">PARTICIPATE</a>
    </div>
    <div class="m-2">
      <a class="link" [routerLink]="['/contact']">CONTACT US</a>
    </div>
  </div>
</div>