.logo{
    height: 75px;
}

.navbar-custom{
    background-color:#006d58;
}

a {
    color: white !important;

    &:hover {
        color: lightgray !important;
    }
}

.active-link {
    color: orange !important;
}

.navbar-color {
    background-color:#006d58;
    border-bottom: solid thin #006d58;
}