@import "../../../styles.scss";

hr {
    width: 90%;
}

.title {
    font-weight: 100;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10%;

    @include md {
        text-align: left;
        margin-left: 5%;
        margin-bottom: 3%;
    }
}

.people-container {
    overflow-x: hidden;
}