@import '../../../styles.scss';

.title {
    font-weight: 100;
    font-size: 2rem;
    margin: 2% 0;
}

.public-lectures-container {
    margin: 2% 5%;
}

.card-container {
    margin-bottom: 2rem;
    padding: 2rem;
    
    @include sm {
        width: 100%;
    }
    @include lg {
        width: 60%;
    }

    .card-content {
        @include sm {
            height: 350px;
        }
        @include md {
            height: 400px;
        }
        @include lg {
            height: 500px;
        }


    }
}