<div class="m-4">
  <!-- <h4 class="display-4">Research</h4> -->

  <div class="d-flex flex-row">
    <div style="margin-left: 100px;margin-right: 100px;">
      <div style="font-size: 25px; text-align: center; "><b>Understanding</b></div>
      <img src="../../../assets/img/lab_logo_understand.png" alt="">
    </div>
    <div style='padding-top: 30px;font-size: 20px;margin-right: 50px;'>
       Is apathy related to an inability to effectively deploy cognitive effort? Or does it relate to an inability to evaluate and compare outcomes? Do Parkinson’s patients lose the ability to prioritize information for processing? Does this relate to dopamine-dependent reward signalling? We aim to leverage advances in cognitive neuroscience to identify specific mechanisms of behavioural and cognitive deficits in patients.
     
    </div>
  </div>

  <div class="d-flex flex-row" style = "padding-top: 50px;">
    <div style='font-size: 20px;margin-left: 50px;padding-top: 50px;'>
      Cognitive symptoms in Parkinson’s and Huntington’s disease represent one of the greatest unmet needs. We need solutions. We aim to understand how modifiable factors like sleep, stress, and dopamine replacement affect cognitive processes and how simple behavioural interventions could also help.
   </div>
    <div style="margin-left: 120px;margin-right: 200px;">
      <div style="font-size: 25px; text-align: center; margin-right: 50px; "><b>Modifying</b></div>
      <img src="../../../assets/img/lab_logo_modify.png" alt="">
    </div>
  </div>

  <div class="d-flex flex-row" style = "padding-top: 50px;">
    <div style="margin-left: 100px;margin-right: 100px;">
      <div style="font-size: 25px; text-align: center; "><b>Generalizing</b></div>
      <img src="../../../assets/img/lab_logo_generalize.png" alt="">
    </div>
    <div style='padding-top: 50px;font-size: 20px;margin-right: 50px;'>
      Cognitive and behavioural symptoms vary immensely from one person to the next. Some patients develop significant apathy or difficulty multi-tasking, others take up boxing or plan local support groups. This variability may represent important clues. In order to account for it in our research we need to find new ways of evaluating cognition in patients and we need to test large representative samples. We aim to develop an accessible platform for testing that relies on quantitative, neurobiologically-grounded approaches to testing cognition.

    </div>
  </div>
</div>