<div class="publications-container">
  
    <div>

      <h2 class="section-title">Preprints</h2>
      <div>
        <p *ngFor="let preprint of preprints">
          <span class="title">{{preprint.title}}</span>
          <br>
          <span class="subtitle">{{preprint.authors}}</span>
          <br>
          <span class="id"><a href="{{preprint.link}}" target="_blank">{{preprint.link}}</a></span>
          <br>
        </p>
      </div>

  </div>

  <div>
    <h2 class="section-title">Publications</h2>

    <div>
      <p *ngFor="let paper of papers">
        <span class="title">{{paper.title}}</span>
        <br>
        <span class="subtitle">{{paper.authors}}</span>
        <br>
        <span class="link"><b>{{paper.publication}}</b></span> | 
        <span class="id"><a href="{{paper.doi}}" target="_blank">{{paper.doi}}</a></span>
        <br>
      </p>
    </div>
  </div>
</div>
