.display-4{
    font-size: 30px;
}

p{
    .title{
        font-size: 16px;
    }
    .subtitle{
        font-weight: 300;
    }
    .link{
        font-weight: 300;
        font-size: 14px;
    }
    .id{
        font-weight: 300;
        font-size: 14px;
    }
}