<div class="weve-moved-container">
  <div class="left">
    <h1 style="font-size: 3rem">The sharplab has moved!</h1>
  </div>
  <div class="center">
    <div class="logo">
      <img class="logo-img" src="/assets/img/lablogo.png" />
    </div>
  </div>
  <div class="right">
    <h1 style="margin-bottom: 1rem">
      Check out our new site at
      <button class="button">
        <a
          style="text-decoration: none; color: white"
          href="https://sharplab.ca"
          >www.sharplab.ca</a
        >
      </button>
    </h1>
  </div>
</div>
