<div class="participate-container container" style="margin: 10% auto;">

  <div class="brain-img">
    <img src="../../../assets/img/lablogo.png" alt="">
  </div>

  <div class="m-4" align="center">

    <div>
      <p>Do you want to participate in our research? We’d love to hear from you!!</p>
    </div>

    <br>

    <div>
      <p>
        We are always looking for people with <b>Parkinson’s disease</b> and <b>control participants</b> who are
        interested in contributing. Though criteria for participation vary from study to study, if you get in touch we can
        tell you what you’d be eligible for.
      </p>
    </div>

    <br>

    <div>
      Email: <a href="mailto:sharplab.neuro@mcgill.ca">sharplab.neuro@mcgill.ca</a>
    </div>

  </div>
</div>