<div class="d-flex flex-row " style="margin-top: 75px;">
  <!-- <h4 class="display-4">Participate</h4> -->
  <div style='margin-left: 150px;margin-top: 25px;'>
    <img src="../../../assets/img/lablogo.png" alt="">
  </div>
  <div class="m-4" align="center">

    <div style='font-size: 20px;margin-left: 50px;margin-right: 150px;'>
      Do you want to participate in our research? We’d love to hear from you!!
    </div>
    <br>
    <div style='font-size: 20px;margin-left: 50px;margin-right: 150px;'>
      We are always looking for people with <b>Parkinson’s disease</b> and <b>control participants</b> who are
      interested in contributing. Though criteria for participation vary from study to study, if you get in touch we can
      tell you what you’d be eligible for.
    </div>
    <br>
    <div style='font-size: 20px;margin-left: 50px;margin-right: 150px;'>
      Email: <a href="mailto:sharplab.neuro@mcgill.ca">sharplab.neuro@mcgill.ca</a>
    </div>
  </div>
</div>