<ng-container *ngFor="let profile of profiles">
  <div class="profile {{ profile.compress ? 'compress' : '' }}">
    <div *ngIf="profile.showImage && profile.photoPath" class="img-container">
      <img src={{profile.photoPath}} alt="Profile Picture">
    </div>
    <div class="blurb-container">
      <h4 class="name">{{profile.name}}</h4>
      <p class="blurb">{{profile.blurb}} </p>
      <p *ngIf="profile.email" class="blurb">Email: <a [href]="profile.email">{{ profile.email }}</a></p>
    </div>
  </div>
</ng-container>
